.App {
  text-align: center;
}

input{
  padding: 4px;
  margin-right: 8px;
}

ul{
  list-style: none;
}

li{
  margin: 12px 0;
}

.container {
  font-family: arial;
  font-size: 24px;
  /* margin: 25px; */
  width: 462px;
  height: 200px;
  /* border: 1px solid #eeeeee; */
}
input{
  width: 56%;
  height: 38px;
}
.addButton {
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin: 4px 2px;
}
.delete-button {
  background-color: red;
    border: none;
    color: white;
    padding: 1px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.update-button {
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin: 4px 2px;
}
.edit-button {
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

